
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	position: relative;
	min-height: 100vh;
	outline: 1px solid green;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

main {
	text-align: center;
	position: relative;
	padding: 2em;
}

img {
	display: block;
	max-width: 100%;
	margin: 0 auto 2em;
}

h1 {
	font-size: 2.5em;
	line-height: 1.2em;
}

h2 {
	line-height: 1.2em;
	font-size: 2.5em;
	color: green;
}

h2 span {
	color: red;
}

h2 strong {
	font-weight: bold;
	color: black;
}

.logo {
	margin-bottom: 3em;
}

@media all and (min-width: 375px){
	.logo {
		max-width: 300px;
	}
}

@media all and (min-width: 768px){
	h1, h2 {
		font-size: 3em;
	}
}

footer {
	display: block;
	width: 300px;
	left: 50%;
	margin-left: -150px;
	text-align: center;
	padding: 0 0 2em;
	position: absolute;
	bottom: 0;
	text-align: center;
	color: #999;
}

footer a {
	color: #0067AA;
}
